
.tertarik {
    align-items: center;
    /* background-image: url(../assets/img/landingpage/tertarik.jpg); */
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 309px;
    justify-content: center;
    padding: 50px 0px 25px;
    position: relative;
    /* width: 1729px; */
  }

  .tertarik2 {
    align-items: center;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/img/landingpage/tertarik.jpg);

    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 309px;
    justify-content: center;
    /* padding: 50px 0px 25px; */
    position: relative;
    /* width: 1729px; */
  }
  
  
  .tertarik .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    justify-content: center;
    /* margin-left: -8.50px;
    margin-right: -8.50px; */
    position: relative;
    width: 100%;
  }
  
  .tertarik .text-wrapper {
    /* -webkit-text-stroke: 1px #000000; */
    align-self: stretch;
    color: #ffffff;
    font-family: "Archivo-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal; 
    margin-left: -1.00px;
    margin-top: -2.00px;
    position: relative;
    text-align: center;
  }
  
  .tertarik .div {
    align-self: stretch;
    color: #ffffff;
    font-family: "Archivo-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .tertarik .contact-us {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    gap: 8px;
    height: 67px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 242px;
  }
  
  .tertarik .text-wrapper-2 {
    color: #000000;
    font-family: "Archivo-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tertarik .vuesax-outline-arrow {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
  }


/* footer */

 

.footer {
    align-items: center;
    background-color: #134074;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .footer .background {
    height: 443.06px;
    position: relative;
    width: 100px;
  }
  
  .footer .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 42px;
    height: 440.94px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .footer .logo {
    height: 82px;
    position: relative;
    width: 235px;
  }
  
  .footer .component {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 105px;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .footer .contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 68.18px;
    height: fit-content;
    justify-content: center;
    position: relative;
    width: fit-content;
  }
  
  .footer .div {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 29.22px;
    justify-content: center;
    position: relative;
    width: 282.45px;
  }
  
  .footer .leverage-agile {
    color: #e7e7e7;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14.2px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21.5px;
    margin-top: -0.89px;
    position: relative;
    width: 282.45px;
  }
  
  .footer .address {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 26.56px;
    justify-content: center;
    position: relative;
  }
  
  .footer .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: center;
    position: relative;
  }
  
  .footer .email-contact {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 12.4px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16.7px;
    position: relative;
    width: fit-content;
  }
  
  .footer .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 12.4px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16.7px;
  }
  
  .footer .call-us {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 12.4px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16.7px;
    position: relative;
    width: 100%;
  }
  
  .footer .content-2 {
    align-items: center;
    display: flex;
    gap: 123.96px;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .footer .div-wrapper-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 65.52px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .footer .about-us-our-team {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14.2px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35.4px;
    /* margin-right: -0.85px;
    margin-top: -0.89px; */
    position: relative;
    width:fit-content;
  }
  
  .footer .style-guide {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14.2px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35.4px;
    margin-right: -1.85px;
    margin-top: -0.89px;
    position: relative;
    width: fit-content;
  }
  
  .footer .subscribe {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 23px;
    position: relative;
    width: 100%;
  }
  
  .footer .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 22.1px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.89px;
    position: relative;
    width: 100%;
  }
  
  .footer .content-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 17.71px;
    position: relative;
    width: 280.68px;
  }
  
  .footer .name {
    height: 53.12px;
    margin-right: -2.00px;
    position: relative;
    width: 282.68px;
  }
  
  .footer .overlap-group {
    border: 0.89px solid;
    border-color: #4d5682;
    height: 53px;
    position: relative;
    width: 281px;
  }
  
  .footer .text-wrapper-3 {
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17.7px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
  }
  
  .footer .button {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 30.99px;
    position: relative;
    /* width: 268.48px; */
  }
  
  .footer .button-2 {
    all: unset;
    align-items: center;
    background-color: #111c55;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8.85px;
    justify-content: center;
    padding: 16.82px 31.88px;
    position: relative;
  }
  
  
  .footer .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14.2px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19.1px;
    margin-top: -0.89px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .footer .follow {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 23.91px;
    margin-bottom: -26.90px;
    margin-top: -26.90px;

  }
  
  .footer .element {
    height: 19.26px;
    position: relative;
    width: 19.26px;
  }


    